<a href="https://colab.research.google.com/github/pacogp/TFM/blob/main/importancia_importe_comisiones.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Objetivo 3: Evaluaci√≥n e importancia de las comisiones dadas a representantes & Ventas

In [1]:
# 0. load data from file
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving IMPORTANCIA_IMPORTE_COMISIONES.csv to IMPORTANCIA_IMPORTE_COMISIONES.csv
User uploaded file "IMPORTANCIA_IMPORTE_COMISIONES.csv" with length 70340 bytes

In [2]:
# 0. load data in DataFrame
import pandas as pd
import io
comisiones = pd.read_csv(io.StringIO(uploaded[fn].decode('utf-8')), 
                    index_col = 'FECHA')
comisiones.head()

            Sum_COSTE_MP  Sum_COSTE_TAPIZADO  ...  Sum_NUMERO_PLAZAS  Sum_UNIDADES
FECHA                                         ...
2019-01-07      10922.96             3801.76  ...               8325            66
2019-01-08      11589.97             3534.20  ...               9425            65
2019-01-09       7419.34             1987.35  ...               5900            40
2019-01-10      21573.77             6387.27  ...              19725           125
2019-01-11       7498.09             2175.50  ...               6300            40

[5 rows x 11 columns]

Vamos a dividir nuestro conjunto de datos en dos partes una para entrenamiento y otra para test. Para ello vamos a utilizar los datos de 2019 y la mitad de 2020 para entrenamiento y el resto de 2020 para los tests.

In [4]:
from IPython.display import display_html
def display_side_by_side(*args):
    html_str=''
    for df in args:
        html_str+=df.to_html()
    display_html(html_str.replace('table','table style="display:inline"'),raw=True)

In [5]:
# 0.1 features and labels
df = comisiones[['Sum_COSTE_MP', 'Sum_COSTE_TAPIZADO', 'Sum_DTO_LINEAS', 'Sum_DTO_PP',
                 'Sum_I_BRUTO', 'Sum_I_COMISION', 'Sum_IMPORTE_LINEA', 'Sum_MARGEN_BRUTO', 
                 'Sum_MARGEN_LINEA', 'Sum_NUMERO_PLAZAS', 'Sum_UNIDADES']]

train = df.loc['2019-01-07':'2020-06-30']
test  = df.loc['2020-07-01':]

display_side_by_side(train.tail(),test.head())

,Sum_COSTE_MP,Sum_COSTE_TAPIZADO,Sum_DTO_LINEAS,Sum_DTO_PP,Sum_I_BRUTO,Sum_I_COMISION,Sum_IMPORTE_LINEA,Sum_MARGEN_BRUTO,Sum_MARGEN_LINEA,Sum_NUMERO_PLAZAS,Sum_UNIDADES
FECHA,,,,,,,,,,,
2020-06-24,23810.37,7888.05,29020.07,1620.05,279856.57,12087.12,53445.08,249216.50,29634.81,18800,126
2020-06-25,16545.46,5671.66,6757.42,3539.54,100236.12,4230.72,34717.84,89939.05,18172.51,11950,81
2020-06-26,10655.21,3376.65,6041.11,1459.54,72159.04,2522.34,24871.26,64658.39,14216.12,9125,61
2020-06-29,17365.09,4894.28,10677.48,1179.96,160801.94,7358.78,41092.04,148944.58,23726.96,16425,99
2020-06-30,17321.92,4759.93,7813.11,2089.48,136506.33,5983.14,39120.25,126603.72,21798.45,14000,97
,Sum_COSTE_MP,Sum_COSTE_TAPIZADO,Sum_DTO_LINEAS,Sum_DTO_PP,Sum_I_BRUTO,Sum_I_COMISION,Sum_IMPORTE_LINEA,Sum_MARGEN_BRUTO,Sum_MARGEN_LINEA,Sum_NUMERO_PLAZAS,Sum_UNIDADES
FECHA,,,,,,,,,,,
2020-07-01,20442.69,5692.48,8355.07,1227.36,252713.40,14817.28,48904.32,243130.88,28461.96,17100,114
2020-07-02,5872.88,1560.06,2130.03,464.71,31602.20,1320.11,13256.60,29007.47,7383.74,5025,29
2020-07-03,10834.13,2920.19,4454.05,1237.45,71682.32,3431.42,25747.28,65990.78,14913.21,8850,65
2020-07-06,9481.79,3427.70,6869.90,1509.12,110180.00,4253.16,21074.20,101800.92,11592.50,6875,50
2020-07-07,16442.91,5073.83,9591.93,1577.94,105660.42,4466.51,38295.16,94490.53,21852.36,13250,90